@import '/src/styles.scss';

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: tt($grey-dark, 0.7);
    backdrop-filter: blur(10px);
    overflow-y: auto;
    z-index: 1002;

    .modal-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        margin: 5rem auto 0 auto;
        padding: 1rem;
        height: auto;
        min-height: 50vh;
        background-color: tt($grey-middle, 0.3);
        border-radius: 1rem;

        &_header {
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: $grey-dark;
            border-radius: 1rem;
            user-select: none;

            h1 {
                margin: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        &_body {
            flex: auto;
            padding: 1rem;
            background-color: $grey-dark;
            border-radius: 1rem;
        }

        @include btn($grey-dark, $red);
        .btn {
            margin-top: 1rem;
        }
    }
}