@import '/src/styles.scss';

.header-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 4rem;
    background-color: tt($dark, 0.3);
    backdrop-filter: blur(4px);
    user-select: none;
    z-index: 1001;

    &__link-box {
        display: flex;
        justify-content: space-evenly;
        flex: auto;

        @media (max-width: 992px) {display: none;}
        
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: auto;
            font-weight: 500;
            transition: 0.2s ease-in;
            @include hover_color($indigo);

            &:hover {background-color: tt($indigo, 0.9);}
        }
        .capsule {align-self: center;}
        .capsule, .link {font-size: 1.2rem;}

        .active-link {color: $red;}
        .active-capsule {box-shadow: 0 0 0 5px tt($red, 0.7);}
    }

    &__mobile-box {
        display: none;
        flex: auto;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            margin: 0;
            font-family: 'Lexend Zetta', sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        @media (max-width: 992px) {display: flex;}
    }
}