<header class="header-box">
    <nav class="header-box__link-box">
        <a
        routerLink=''
        routerLinkActive='active-link'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="link">Главная</a>
        <a
        routerLink='/projects'
        routerLinkActive='active-link'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="link">Проекты</a>
        <a
        routerLink='/products'
        routerLinkActive='active-link'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="link">Услуги</a>
        <a
        routerLink='/contacts'
        routerLinkActive='active-link'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="link">Контакты</a>
        <a
        routerLink='/info'
        routerLinkActive='active-link'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="link">Информация</a>
        <a
        routerLink='/github'
        routerLinkActive='active-link'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="link">GitHub</a>
        <a
        routerLink='/tracking'
        routerLinkActive='active-capsule'
        [routerLinkActiveOptions]='{exact: true}'
        draggable='false' 
        class="capsule">Что с моим заказом?</a>
    </nav>
</header>
