// fonts url
$Montserrat: 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
$LexendZetta: 'https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap';
$MaterialIcons: 'https://fonts.googleapis.com/icon?family=Material+Icons';

// colors
$light: white;
$dark: black;

$grey-dark: #222F3E;
$grey-basic: #576574;
$grey-middle: #8395A7;
$grey-light: #C8D6E5;

$pink: #f368e0;
$pink-light: #ff9ff3;

$yellow: #feca57;
$amber: #ff9f43;

$scarlet: #ff6b6b;
$red: #ee5253;

$blue-light: #48dbfb;
$blue: #0abde3;

$mint: #10ac84;
$mint-light: #1dd1a1;

$cyan: #01a3a4;
$cyan-light: #00d2d3;

$ocean: #2e86de;
$ocean-light: #54a0ff;

$indigo: #5f27cd;
$violet: #341f97;

// wrapper 
$wrapper_width: 1200px;

// button
$btn_height: 50px;
$btn_border_radius: 1rem;
$btn_padding: 1rem 20px;

// content-box
// card