<section>
    <div class="content-box">
        <div class="content-box_header">
            <h1>Контакты</h1>
        </div>
        <div class="content-box_body">
            <div class="card">
                <h2>Иван - менеджер проектов</h2>
                <ul>
                    <li>
                        <span class="red">телефон:</span>
                        <a href="tel:+79179531863">+79179531863</a>
                    </li>
                    <li>
                        <span class="red">ссылка в VK:</span>
                        <a href="https://vk.com/zhivodvorov" target="_blank" rel="noopener noreferrer">vk.com/zhivodvorov</a>
                    </li>
                    <li>
                        <span class="red">почта:</span>
                        <a href="mailto:netchweb@gmail.ru">netchweb@gmail.ru</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2>NETCH в соц. сетях</h2>
                <ul>
                    <li>
                        <span class="red">группа в VK:</span>
                        <a href="https://vk.com/netch_web" target="_blank" rel="noopener noreferrer">vk.com/netch_web</a>
                    </li>
                    <li>
                        <span class="red">INSTAGRAM:</span>
                        <a href="https://www.instagram.com/netch_web/?hl=ru" target="_blank" rel="noopener noreferrer">netch_web</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2>График работы</h2>
                <ul>
                    <li>
                        <span class="red">пн-пт:</span>
                        <span>9:00 - 19:00</span>
                    </li>
                    <li>
                        <span class="red">сб-вс:</span>
                        <span>выходной</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
