<section>
    <div class="content-box">
        <div class="content-box_header">
            <h1>Услуги</h1>
        </div>
        <div class="content-box_body">
            <div class="card wrap">
                <h2 class="title">Вебпаки</h2>
                <div class="card-group">
                    <div class="card">
                        <h2>Lord of the WEB</h2>
                        <ul>
                            <li>Клиентская часть: <span class="red">Angular</span></li>
                            <li>Серверная часть: <span class="red">Java/Spring</span></li>
                            <li>База данных: <span class="red">PostgreSQL</span></li>
                            <li>Подойдет для: <span class="red">Интернет-магазин, Официальный сайт</span></li>
                            <li>Описание: <span class="red">"Один Вебпак, чтоб править всеми..."</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>WEB Bill</h2>
                        <ul>
                            <li>Клиентская часть: <span class="yellow">Vue JS</span></li>
                            <li>Серверная часть: <span class="yellow">Python</span></li>
                            <li>База данных: <span class="yellow">MySQL</span></li>
                            <li>Подойдет для: <span class="yellow">Сайт-портфолио, Лендинг</span></li>
                            <li>Описание: <span class="yellow">"Зачем тянуть с разработкой в таком красивом саду?"</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>Full WEB Jacket</h2>
                        <ul>
                            <li>Клиентская часть: <span class="mint">JavaScript / Samurai JS</span></li>
                            <li>Серверная часть: <span class="mint">Python</span></li>
                            <li>База данных: <span class="mint">MySQL</span></li>
                            <li>Подойдет для: <span class="mint">Сайт-портфолио, Лендинг, Сайт-визитка</span></li>
                            <li>Описание: <span class="mint">"Это мой Вебпак. Таких Вебпаков много, но этот — мой."</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>WEB of Man</h2>
                        <ul>
                            <li>Клиентская часть: <span class="blue">JavaScript / Samurai JS</span></li>
                            <li>Серверная часть(опционально): <span class="blue">Python</span></li>
                            <li>Подойдет для: <span class="blue">Сайт-портфолио, Сайт-визитка</span></li>
                            <li>Описание: <span class="blue">"Вебпак человеческий"</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card wrap">
                <h2 class="title">Услуги</h2>
                <div class="card-group">
                    <div class="card">
                        <h2>Лендинг</h2>
                        <ul>
                            <li><span>Базовая цена:</span><span class="mint">5000₽</span></li>
                            <li><span>Разработка макета:</span><span class="red">+5000₽</span></li>
                            <li><span>Развертывание:</span><span class="red">+2000₽</span></li>
                            <li><span>База данных:</span><span class="red">+2000₽</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>Сайт-визитка</h2>
                        <ul>
                            <li><span>Базовая цена:</span><span class="mint">4000₽</span></li>
                            <li><span>Разработка макета:</span><span class="red">+5000₽</span></li>
                            <li><span>Развертывание:</span><span class="red">+2000₽</span></li>
                            <li><span>База данных:</span><span class="red">+2000₽</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>Сайт-портфолио</h2>
                        <ul>
                            <li><span>Базовая цена:</span><span class="mint">5000₽</span></li>
                            <li><span>Разработка макета:</span><span class="red">+5000₽</span></li>
                            <li><span>Страница администратора:</span><span class="red">+2000₽</span></li>
                            <li><span>Развертывание:</span><span class="red">+2000₽</span></li>
                            <li><span>База данных:</span><span class="red">+2000₽</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>Интернет-магазин</h2>
                        <ul>
                            <li><span>Базовая цена:</span><span class="mint">15000₽</span></li>
                            <li><span>Разработка макета:</span><span class="red">+5000₽</span></li>
                            <li><span>Страница администратора:</span><span class="red">от 2000₽</span></li>
                            <li><span>Развертывание:</span><span class="red">+2000₽</span></li>
                            <li><span>База данных:</span><span class="red">+2000₽</span></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>Официальный сайт</h2>
                        <ul>
                            <li><span>Базовая цена:</span><span class="mint">10000₽</span></li>
                            <li><span>Разработка макета:</span><span class="red">+5000₽</span></li>
                            <li><span>Страница администратора:</span><span class="red">от 2000₽</span></li>
                            <li><span>Развертывание:</span><span class="red">+2000₽</span></li>
                            <li><span>База данных:</span><span class="red">+2000₽</span></li>
                        </ul>
                    </div>
                </div>
                <button class="btn">Оформить заказ</button>
            </div>
            <div class="card wrap">
                <button (click)='openModal("Вебпак")' class="btn">Что такое Вебпак?</button>
                <button (click)='openModal("Услуги")' class="btn">Подробнее об услугах</button>
            </div>
        </div>
    </div>
</section>
